NODE_ENV=development
PORT=4000
CORS_ORIGIN=*

# Ücretsiz Google Gemini API Key (Google AI Studio'dan 1 dakikada ücretsiz alınabilir)
# https://aistudio.google.com/
GEMINI_API_KEY=

# Opsiyonel OpenAI API Key
OPENAI_API_KEY=
